:root {
    --pagebg: #FFF;
    --main: #102581;
    --new: #50b6df;
    --bglink: rgba(0, 0, 0, 0.3);
    --darkbg: #FFF;
    --lightbg: #000;
    --lighter: #444;
}

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--pagebg);
}
.container {
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
}
header {
    font-size: 28px;
    padding: 10px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--new);
}
header input {
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
    max-width: 200px;
}
nav {
    background: var(--new);
    color: var(--darkbg);
    padding: 15px 0;
}
ul {
    list-style: none;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
ul li a {
    color: var(--darkbg);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
}
ul li.active a,
ul li:hover a {
    background: var(--bglink);
}

.banner {
    height: 250px;
    background: rgb(180, 177, 177);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--darkbg);
    font-size: 36px;
    font-weight: bold;
    text-shadow: -3px -3px 5px var(--lightbg);
    
}

h2 {
    color: var(--main);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

section{
    
    align-items: center;
    padding: 2px;
    background-color: rgb(255, 255, 255);
}

.no-list {
    margin-bottom: 50px;
}
.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 30px auto;
}
.item {
    color: var(--lightbg);
}

.container .list{
    
    
}

.itemponto {
    color: var(--lightbg);
    display: flex;
    padding: auto;

}

.iframe{
    
    align-items: center;
    position:static ;            
    top: -95px;
    left: -25px;
    width: 100%;
    height: 768px;
}

.item--image {
    width: 80px;
    align-items: center;
    height: 70px;
    border-radius: 5px;
}
.item--name {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #000;
}
.item--type,
.item--color,
.item--genre {
    font-size: 13px;
    color: var(--lighter);
    margin-bottom: 3px;
}
.diviframe {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden; 

}
iframe {
    position: absolute;            
    top: -95px;
    left: -25px;
    width: 1300px;
    height: 1000px;
}
.buttons1{
    display: flex;
    height: 100vh;
    
   
}

.containerbutton{
    flex: 1;
    display: flex;
    justify-content: center;/*centralizar*/
    align-items: center;/*centralizar*/
    padding: 20px;
    margin: 0 15px ;
    
   
   /*width: max-content;/*centralizar uma div*/

}

.buttons a {
    display: inline-block;/*para espaçar*/
    background-color: var(--new);
    color: rgb(255, 255, 255);
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;/*retira o sublinhado*/
    text-transform: uppercase;
    box-shadow: 1px 2px 20px rgb(5, 5, 5);/*coloca sombra no botão*/
    border-radius: 10px;/*arredonda o botao*/
   
}

.buttons a:hover{
    opacity: 0.8;
}


footer {
    border-top: 1px solid var(--lighter);
    padding:  10px 50px  !important;
    text-align: center;
    font-size: 16px;
    color: var(--new);
  
}

footer .container {
    display: flex;
    justify-content: space-between;


}
.buttonsfooter a {
    display: inline-block;/*para espaçar*/
    background-color: var(--new);
    color: rgb(0, 0, 0);
    padding:  7px 15px;
    font-size: 9px;
    font-weight: bold;
    text-decoration: none;/*retira o sublinhado*/
    
    box-shadow: 1px 1px 10px rgb(5, 5, 5);/*coloca sombra no botão*/
    border-radius: 2px;/*arredonda o botao*/
   
}
.buttonsfooter a:hover{
    opacity: 0.8;
}

.pageerro {

    padding: 10px 70px;
    align-items: center;
    justify-content: center;
   
    

    
    


}




}

*{
    box-sizing: border-box;
}
formbody{
    margin: 0;
}


.screen{
    display: flex;
    height: 100vh;
}


.formleftside{
    flex: 1;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #50b6df;
    
  
    
}

.formleftside img{
    max-width:700px;
    max-height:500px;
    width: auto;
    height: auto;
    
}
.formrightside{
    width: 400px;
    background-color: rgb(98, 218, 223);
    padding: 50px;
    
}

.formrightside label{
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 5px;
}

.formbuttons  {
    display: inline-block;/*para espaçar*/
    background-color: black;
    color: rgb(106, 207, 233);
    padding: 20px 40px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;/*retira o sublinhado*/
    text-transform: uppercase;
    box-shadow: 1px 2px 20px rgb(5, 5, 5);/*coloca sobra no botão*/
    border-radius: 10px;/*arredonda o botao*/
    margin-right: 10px;
}
.formbuttons:hover{
 opacity: 0.5;
}


.formrightside input{
    width: 100%;
    border:  1px solid #999;
    border-radius: 5px;
    padding: 8px;
    font-size:  14px;
}
@media (max-width: 900px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 810px) {
    .banner {
        height: 2000px;
        font-size: 29px;
    }

    .ul {
    list-style: none;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
    
}
  


@media (max-width: 500px) {
    .banner {
        height: 200px;
        font-size: 29px;
    }
    h2 {
        font-size: 18px;
    }
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    header .container {
        flex-direction: column;
        padding: 15px;
    }
    header input {
        max-width: 100%;
    }
    ul{
    list-style:none ;
    max-width: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    align-items: center;
    padding: 5px;
    margin: 3%;  
    
    }

    .screen{
        display: flex;
        flex-direction: column;
       
               
    }
   
    .formrleftside{
    
     display: flex;
     max-width: 100%;
     margin-right: 0;
     margin-bottom: 20px;
      
        
    }
    .formleftside img{
        max-width:400px;
        max-height:500px;
        width: auto;
        height: auto;
    }
    .formrightside{
   
     display: flex;
     flex-direction: column;
    padding: 10px; 
    }
    .formrightside input{
        padding:  12px;
        width: 90%;
    }
    .containerbutton{
        flex: 1;
        display: block;
        justify-content: center;/*centralizar*/
        align-items: center;/*centralizar*/
        padding: 20px;
        margin: 0 15px ;
    }
    .buttons a{
        padding: 7px 6px;
    }
}