{{>partials/header}}


{{#banner}}
<section class="banner" style="background-image: url('/images/{{background}}')">{{title}}</section>
<h2>{{title}} {{descricao}}</h2>
{{/banner}}

<div class="button1">
    
        <div class="containerbutton">
            <div class="buttons">
            <a href="http://hmsfx.itaguai.rj.gov.br:9596/">Acesso Externo</a>
           
            <a href="http://ghbam/">Acesso Interno</a>
        </div>
        </div>

        
            
       
        
        
</div>       


<section>

  

<!--iframe faz exibir um site dentro do outro -->
<div>
    <iframe  name="iframe-ghbam" class="iframe" id="iframe-ghbam" src="http://10.200.200.40/sisbam/pages/login.xhtml" 
        frameborder="100px" cellspacing="0"
    
        sandbox="allow-same-origin  allow-scripts allow-top-navigation"
      
        
        style="border-style: none; padding: 0px; "></iframe>

        
           
</div>
<div>
    </div>  

    </section>
    


   

    

{{>partials/footer}}
